.vscode/
**/.vscode/
.idea/
**/.idea/

.env
.env.*
!.env.example

node_modules/
**/node_modules/

dist/
build/
**/dist/
**/build/

*.log

android/*.apk
android/*.zip
android/*.jadx/
android/*_arm64/
android/*_extract/
android/*_capture/
android/noise_arm64/
android/noise_extract/
android/VITALIS_capture/

coverage/